@charset "UTF-8";
@use "../base/variable" as *;
@use "../base/mixin" as *;

html {
  --window-w: 100vw;
  --window-h: 100vh;
}

:root {
  --base-ratio: 0.75;
  --base-size: 1536;
  --base-percent: 100vw;

  --lightbox-icon-color: #000;

  @include media(false, tablet) {
    --base-ratio: 1;
    --base-size: 1;
    --base-percent: 1px;
  }
}

.container {
  padding: 0 to_vw($space-400);
}

.flex {
  display: flex;
}

.borderBottom {
  border-bottom: 1px solid $color-black;
}

a {
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

.gradientAnimation {
  animation: gradientAnimation 3s linear infinite;
  background: #1D2B64; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  background-size: 200% auto;
  font-weight: 900;
  color: transparent;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.uk-lightbox {
  background: transparent;
  backdrop-filter:blur(10px);
}

.uk-lightbox-toolbar .uk-lightbox-toolbar-icon,
.uk-lightbox-button {
  color: var(--lightbox-icon-color) !important;
}

.uk-icon:not(.uk-preserve) [stroke*="#"]:not(.uk-preserve) {
  stroke: var(--lightbox-icon-color) !important;
}