@charset "UTF-8";

html {
  --window-w: 100vw;
  --window-h: 100vh;
}

:root {
  --base-ratio: 0.75;
  --base-size: 1536;
  --base-percent: 100vw;

  @include media(false, tablet) {
    --base-ratio: 1;
    --base-size: 1;
    --base-percent: 1px;
  }
}

.container {
  padding: 0 to_vw($space-400);
}

.flex {
  display: flex;
}

.border_bottom {
  border-bottom: 1px solid $color-black;
}

a {
  text-decoration: underline;
  font-weight: 500;
}

strong {
  font-weight: 700;
}