@charset "UTF-8";

html {
  --window-w: 100vw;
  --window-h: 100vh;
}

:root {
  --base-ratio: 0.75;
  --base-size: 1536;
  --base-percent: 100vw;

  @include media(false, tablet) {
    --base-ratio: 1;
    --base-size: 1;
    --base-percent: 1px;
  }
}

.container {
  padding: 0 to_vw($space-400);
}

.flex {
  display: flex;
}

.border_bottom {
  border-bottom: 1px solid $color-black;
}

a {
  text-decoration: underline;
  font-weight: 500;
}

strong {
  font-weight: 700;
}

.gradient_animation {
  animation: gradientAnimation 6s linear infinite;
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  background-size: 200% auto;
  font-weight: 900;
  color: transparent;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}