@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

$gridCnt: 4;

.gridWrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat($gridCnt, 1fr);
  grid-template-rows: auto;

  * {
    font-family: $font-suit;
  }

  > div {
    border-right: 1px solid $color-neutral-200;
    border-bottom: 1px solid $color-neutral-200;

    @include media($from: tablet) {
      &:nth-child(#{$gridCnt}n) {
        border-right: 0;
      }

      &:nth-last-child(-n+#{$gridCnt}) {
        border-bottom: 0;
      }
    }
  }

  @include media(false, tablet) {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);

    > div {
      border-right: 0;
      border-bottom: 1px solid $color-black;
    }
  }
}