@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.bubble {
  &_wrap {
    position: relative;

    &.gif {
      .bubbleContent {
        top: unset;
        right: to_vw($space-200);
        bottom: to_vw($space-200);
        left: unset;
        position: fixed;
        transform: unset;
        transform-origin: right bottom;
      }
    }
  }

  &Content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + to_vw($space-100));
    z-index: 1;
    white-space: nowrap;
    padding: to_vw($space-100) to_vw($space-200);
    border-radius: to_vw(8);
    background: $color-black;
    box-shadow: 0 3px 8px 0 rgba(10, 10, 10, 0.2);
    scale: 0;
    transition: scale .5s ease-in-out;
    transform-origin: left top;

    &.on {
      scale: 1;
    }

    .inner {
      display: flex;
      flex-direction: column;
      gap: to_vw(4);
    }

    a {
      color: $color-white;
      font-size: 12px;
      font-weight: 400;
      transition: opacity .2s ease-in-out;

      &:hover {
        opacity: .9;
      }
    }
  }

  @include media(false, tablet) {
    &Content {
      top: unset;
      right: to_vw($space-200);
      bottom: to_vw($space-200);
      left: unset;
      position: fixed;
      transform: unset;
      transform-origin: right bottom;
    }
  }
}