@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.header {
  margin-bottom: to_vw(12);
  padding: to_vw($space-400) to_vw($space-200);

  @include media($from: laptop) {
    &.home_style {
      .inner {
        .gnb {
          align-items: flex-start;
          gap: to_vw($space-200);
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
  }

  .inner {
    display: flex;
    align-items: flex-end;

    > * {
      flex: 1;
    }

    .logo {
      @include fontSize(64);
      font-family: $font-system !important;
      color: $color-black;
      letter-spacing: -0.2rem;
    }

    .gnb {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: to_vw($space-100);
      text-decoration: underline;
      font-family: $font-jetbrains;
      font-size: 16px;
      font-weight: 500;
    }
  }
}