@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.feedWrapper {
  .feedArea {
    padding: to_vw($space-200);
  }

  .sectionTitle {
    display: flex;
    justify-content: space-between;
    gap: to_vw($space-200);
    padding-bottom: to_vw($space-100);
    border-bottom: 1px solid $border-300;

    span {
      @include fontSize(10);
      font-weight: 600;
      line-height: 1;
    }
  }

  .feedList {
    li {
      a {
        display: flex;
        justify-content: space-between;
        gap: to_vw($space-200);
        position: relative;
        padding: to_vw($space-200) 0;
        text-align: right;
        text-decoration: unset;
        transition: opacity .4s;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: $border-100;
        }

        @include media($from: tablet) {
          &:hover {
            opacity: .5;
          }
        }
      }
    }

    .date {
      @include fontSize(10, 30);
      //color:;
    }

    .title {
      font-family: $font-system;
      @include fontSize(20, 30);
      font-weight: 500;
    }

    @include media(false, tablet) {
      .date {
        @include fontSize(12, 24);
      }

      .title {
        @include fontSize(18, 24);
      }
    }
  }

  .noResults {
    padding: to_vw($space-400);
    text-align: center;
    font-style: italic;
    opacity: 0.7;
  }
}