@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

$default-mass-img-size: 74;

.wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
  width: to_vw(530);
  height: to_vw(200);
  pointer-events: none;
}

.figure {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.massWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  > img {
    position: absolute;
    height: auto;
    object-fit: cover;
    backface-visibility: hidden;
  }
}

.massItem {
  &01 {
    display: none;
  }

  &02 {
    top: -20%;
    left: 50%;
    width: to_vw(48);
  }

  &03 {
    left: 20.5%;
    top: 48%;
    width: to_vw(48);
    transform: rotate(6deg);
  }

  &04 {
    display: none;
  }

  &05 {
    top: -10%;
    right: 10%;
    width: to_vw($default-mass-img-size);
    z-index: -1;
  }

  &06 {
    right: -8%;
    top: 0;
    width: to_vw($default-mass-img-size);
  }

  &07 {
    right: 12%;
    bottom: -6%;
    z-index: 2;
    width: to_vw(88);
  }

  &08 {
    right: 18%;
    bottom: 48%;
    width: to_vw(28);
  }

  &09 {
    display: none;
  }

  &10 {
    left: 2%;
    bottom: 0;
    width: to_vw($default-mass-img-size);
  }
}

@include media(false, mobile) {
  $default-mass-img-size: 48;

  .wrap {
    width: 100%;
    height: to_vw(200);
  }

  .massItem {
    &02 {
      display: none;
    }

    &03 {
      width: to_vw(36);
    }

    &05 {
      width: to_vw($default-mass-img-size);
    }

    &06 {
      width: to_vw($default-mass-img-size);
    }

    &07 {
      width: to_vw($default-mass-img-size);
    }

    &08 {
      right: 17%;
      bottom: 30%;
      width: to_vw(20);
    }

    &10 {
      width: to_vw($default-mass-img-size);
    }
  }
}