@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.gridItem {
  overflow: hidden;
  position: relative;
  background: $color-neutral-100;

  > div {
    position: relative;
    width: fit-content;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;

    &:hover {
      color: $color-neutral-100;
      transition: color .2s cubic-bezier(.25, .46, .45, .94) .2s;
    }

    > span {
      position: relative;
      z-index: 11;
      @include fontSize(48);
      white-space: nowrap;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $color-black;
  z-index: 1;
  opacity: 0;
  transition: all .4s cubic-bezier(.25, .46, .45, .94);
}

.content {
  position: relative;
  z-index: 2;

  .desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    * {
      color: $color-neutral-100;
    }

    .title {
      display: flex;
      gap: to_vw($space-50);
    }
  }

  img {
    opacity: 0;
    visibility: hidden;
  }
}