@charset "UTF-8";
@use "../../styles/base/font" as *;
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.gridItem {
  overflow: hidden;
  position: relative;
  background: $color-neutral-100;

  > div {
    position: relative;
    width: fit-content;
  }

  a {
    display: block;
    height: 100%;
    position: relative;

    @include media($from: tablet) {
      &:hover {
        > span {
          transition: color .4s cubic-bezier(.25, .46, .45, .94);
          text-decoration: underline;
          color: $color-neutral-100;
        }

        .desc {
          * {
            color: $color-neutral-400;
          }
        }
      }
    }

    > span {
      position: relative;
      z-index: 1;
      @include fontSize(48);
    }
  }

  @include media(false, tablet) {
    background: $color-neutral-50;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: $color-neutral-200;
  transition: all .4s cubic-bezier(.25, .46, .45, .94);
  opacity: 0;

  @include media(false, tablet) {
    display: none;
  }
}

.content {
  position: relative;
  z-index: 2;

  .desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    * {
      transition: color .4s cubic-bezier(.25, .46, .45, .94);
      @include fontSize(14);
      color: $color-neutral-100;
    }

    .title {
      display: flex;
      gap: to_vw($space-50);
    }
  }

  img {
    opacity: 0;
    visibility: hidden;
  }

  @include media(false, tablet) {
    .desc {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: static;
      padding: to_vw($space-50) to_vw($space-100);

      em {
        order: 2;
      }

      * {
        color: $color-black;
      }
    }

    img {
      display: none;
    }
  }
}