@charset "UTF-8";
@use "../../styles/base/variable" as *;
@use "../../styles/base/mixin" as *;

.gridButtonBox {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid $border-100;

  @include media($from: tablet) {
    &:hover {
      .button {
        &.selected {
          background: transparent;
        }
      }
    }
  }

  @include media(false, tablet) {
    border-top: 1px solid $border-500;
    border-bottom: 1px solid $border-500;
  }
}

.buttonWrap {
  overflow: hidden;
  position: relative;

  &:nth-of-type(odd) {
    border-right: 1px solid $border-100;
  }

  &:nth-of-type(n+3) {
    border-top: 1px solid $border-100;
  }

  @include media(false, tablet) {
    &:nth-child(odd) {
      border-right: 1px solid $border-500;
    }

    &:nth-child(n+3) {
      border-top: 1px solid $border-500;
    }
  }
}

.button {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  text-align: left;
  text-decoration: underline;
  @include fontSize(16);
  font-weight: 500;
  opacity: 0.5;
  transition: all .4s;

  &::before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  &.selected {
    background: $color-neutral-100;
    opacity: 1;
    font-weight: 700;
  }

  .buttonText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: to_vw($space-100);
  }

  @include media($from: tablet) {
    &:not(.selected):hover {
      opacity: .8;
    }
  }

  @include media(false, tablet) {
    @include fontSize(14);
    opacity: 1;

    &::before {
      padding-bottom: 25%;
    }

    &.selected {
      background: $font-color-default;

      .buttonText {
        color: $background-color-mo;
      }
    }

    .buttonText {
      padding-left: to_vw($space-200);
    }
  }
}