@charset "UTF-8";

// Font
$font-system: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
$font-bebas: "BebasNeue-Regular", sans-serif;
$font-familjen: "FamiljenGrotesk", sans-serif;
$font-jetbrains: "JetBrainsMono", sans-serif;

// Base
$font-size: 0;
$fontSize-default: 16;

// Grid
$gridCntP: 12;
$gridCntT: 8;
$gridCntM: 4;
$gridGap: 12;
$gridMargin: 50;

// Color
$color-white: #fafafa;
$color-black: #0a0a0a;

// Space
$space-100: 6;
$space-200: 12;
$space-300: 18;
$space-400: 24;
$space-500: 30;
$space-600: 36;
$space-700: 42;
$space-800: 48;
$space-900: 54;
$space-1000: 60;