@charset "UTF-8";

/* Font */
$font-bebas: "BebasNeue-Regular", sans-serif;
$font-familjen: "FamiljenGrotesk", sans-serif;
$font-jetbrains: "JetBrainsMono", monospace, sans-serif;

/* Base */
$font-size: 0;
$fontSize-default: 16;

/* Path */
$fontPathCommon: "../../assets/fonts/";
$imgPathCommon: "../../assets/images/";

/* Grid */
$gridCntP: 12;
$gridCntT: 8;
$gridCntM: 4;
$gridGap: 20;
$gridMargin: 50;